@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin:0;
    padding:0;
}
/* Farbe: #2e2e2e / #fff / #000 / #1d2c2f  */
body{
    font-family:Work Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
    color:white;
    font-family:Work Sans;
}
ul{
    list-style:none;
}
header{
    height:100vh;
    background-image: url("../img/design-interior-1.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: 70%;
    font-family: Lora;
    position:sticky;
}
h1{
    letter-spacing: 4vh;
    font-size: 9vh;
    margin:0 0 13% 7%;
}
header h4{
    font-weight: 400;
    font-size:2.5vh;
}
header article{
    padding:25% 70% 0 7%;
}
/*NAV*/
nav{
    background-color:#2e2e2e ;
    height:9vh;
    width:99vw;
    position:sticky;
    top:0;
    
      
}
#logo{
    padding:0 30% 0 0;
}
nav ul{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size:2vh;
}
nav ul li{
    padding:0 5%;
}
/*section grau*/
main section:first-child{
    display:flex;
    align-items: center;
    height:100vh;
    background-color: #2e2e2e;
    color:white;
}
main section:first-child article h2{
    text-align:center;
    font-family:Lora;
    font-size:6vh;

}
main section:first-child img{
    width:55%;
}
main section:first-child article {
    width:40%;
    padding:3%;
}
main section:first-child article p{
    font-size:2vh;
    padding-top:3%;
    line-height:4vh;
    word-spacing: 0.7vh;

}
/*section weiß*/
main section:nth-child(2) h2{
    font-family: Lora;
    font-size:5vh;
    text-align: center;
}
main section:nth-child(2) article{
    padding:10% 28%;
}
main section:nth-child(2) article p{
    font-size:2.5vh;
    padding-top:3%;
    line-height:4vh;
    word-spacing: 0.7vh;

}
#pictures{
    display:flex;
    justify-content: space-around;
    padding:0 4%;
}
figcaption{
    color:#797979;
    font-family: Work Sans;
    font-size:2.5vh;  
}
#pictures img{
    width:90%;
}
#video{
    text-align: center;
    margin: 5% 0;
    height:40vh;
}
#video iframe{
    width:30%;
    height:83%;
}
/*video frames*/
/*contact*/
#contact{
    background-color: #2e2e2e ;
    display:flex;
    color:white;
    padding-top:10%; /*damit die nav bar mit dem grauen background zusammen schließt*/
}
#contact h2{
    font-family: Lora;
    font-size:6vh;
    margin-bottom:5%;
    
}
#contact p{
    font-size:2vh;
    padding-top:3%;
    line-height:4vh;
    word-spacing: 0.7vh;
    width:70%;
}
#contact article{
    padding:10% 5%;
}
form{
    flex-basis: 50%;
    width:30%;
    font-family:Lora;
    font-size:2vh;
    margin:10% 0% 0 7%;
}
input{
    width:80%;
    height:7%;
    margin-bottom:5%;
    border-radius:0.3vh;
    border:none;
}
#Message{
    padding-bottom:2%;
}
input[type="submit"]{
    width:10%;
    font-weight: bold;
    margin-top:5%;
    cursor:pointer;
}
input:focus{
    outline:none; /*um die outline border beim focus zu entfernen */
}

form input::placeholder{
    font-family:Work Sans;
    padding-left:2%;
    font-size:2vh;
    
}
/*footer*/
footer{
    background-color:#1d2c2f;
    color:white;
    display:flex;
    align-items: center;
    height:6vh;
    font-family: Lora;
}
#over{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    width:99%;
}
#over li{
    
    padding-left:0;
    flex-basis:30%;
}
#intern{
    display:flex;
    
}
#intern li{
    padding-left:5%;
}
#intern li a{
    font-family: Lora;
}
/*Media Queries*/
@media only screen and (max-width: 600px) {
    body{
        scroll-behavior: unset;
    }
    /*header*/
    header{
        background-position:bottom;
        background-size:100%;
    }
    header article {
        width:100%;
        text-align:center;
        padding:15% 0 0 0;
    }
    /*nav*/
    nav{
        z-index:4;
        width:100vw;
        height:12vh;
        
    }
    nav ul{
        font-size:1.5vh;
    }
    #logo{
        padding:0;
    }
    /*story*/
    #OurStory{
        display:block;
        height:120vh;
    }
    #OurStory img{
        display:block;
        width:100%;
    }
    #OurStory article{
        width:80%;
        margin:0 auto;
    }
    #OurStory article p{
        font-size:3vh;
    }
    /*Designs*/
    #DESIGNS article{
        padding:10% 5%;
        text-align: center;
    }
    #pictures{
        display:block;
        padding:0;
    }
    #pictures img {
        margin:5% auto;
        width:100%;
    }
    #pictures figcaption{
        text-align:center;
    }
    #video{
        text-align: center;
        margin: 10% 0;
        height:40vh;
    }
    #video iframe{
        width:100%;
        height:100%;
    }
    /*contact*/
    #contact{
        display:block;
    }
    #contact h2{
        padding-left:5%;
    }
    #contact p{
    font-size:3vh;
    padding-left:5%;
    }
    form{
    width:100%;
    font-size:3vh;  
    }
    
    input{
        
        padding:5% 0;
        margin-bottom:5%;
        border-radius:0.3vh;
        border:none;
    }
    #Message{
        padding:7% 0;
    }
    input[type="submit"]{
        width:20%;
        font-weight: bold;
        margin-top:5%;
        cursor:pointer;
        padding:3%;
    }
    input:focus{
        outline:none; /*um die outline border beim focus zu entfernen */
    }
    form input::placeholder{
        font-family:Work Sans;
        text-align: center;
        font-size:3vh;
        
    }
    /*footer*/
    footer{
        height:18vh;
        font-size:2.5vh;
    }
    #over{
        display:block;
        text-align:center;
        font-size:2vh;
    }
    #over li{
        padding:1% 0;
    }
    #intern{
        display:flex;
        justify-content: space-around;
        font-family: Lora;
        font-size:4vh;
    }
    
}